/* General Style Applications  */

body {
  width: 100%;
  margin: 0;
  font-family: sans-serif, arial;
}

/* Oversizing catch-all */

img,
embed,
object,
video {
  max-width: 100%;
}

/* Remove underline from links */

a:link {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

a:active {
  text-decoration: none;
  color: inherit;
}

#cat-nav {
  position: absolute;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 200px;
  padding: 2em 2em 0 0;
}

#cat-list{
  list-style-type: none;
  padding-top: 4em;
}

.cat-name {
  color: #000;
  font-size: 1.5em;
  line-height: 1.5em;
}

#main-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

#header {
  width: 100%;
  text-align: center;
}

h1 {
  font-size: 3em;
}

#cat-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

#cat-image {
  width: 100%;
  padding: 1em 0 1em 0;
}

h4 {
  font-size: 1em;
  color: #000;
}

#clicks {
  padding-top: 1em;
  font-size: 1.2em;
}
